@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welkom op de management website van de MVC Tennis Federatie</h2>
    <p class="lead">Op deze website kun je alle management taken uitvoeren voor de MVC Tennis Federatie. Via de links bovenaan
    kun je alle spelers, teams, divisies en wedstrijden raadplegen, aanpassen, verwijderen en nieuwe toevoegen. Ook de boetes, 
    rollen en activiteit van spelers kunnen geraadpleegd worden.</p>
</div>